*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock{
  display: grid;
  grid-template-columns: 54px 54px 12px 54px 54px 12px 54px 54px;
  width: fit-content;
  margin: 2em auto;
}

.digit{
  width: 54px;
  height: 67px;
  position: relative;
}

.bar{
  height: 5px;
  width: 30px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  opacity: 0;
}

.bar1{
  opacity: 1;
  transform: translateX(12px);
}

.bar2{
  opacity: 1;
  transform: rotateZ(90deg) translate(15px, -30px);
}

.bar3{
  opacity: 1;
  transform: translate(12px, 30px);
}

.bar4{
  opacity: 1;
  transform: rotateZ(90deg) translate(15px, 6px);
}

.bar5{
  opacity: 1;
  transform: rotateZ(90deg) translate(46px, -30px);
}

.bar6{
  opacity: 1;
  transform: translate(12px, 61px)
}

.bar7{
  opacity: 1;
  transform: rotate(90deg) translate(46px, 6px)
}

.seperator{
  display: flex;
  width: 12px;
  height: 67px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle{
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
}

.circle:nth-child(1){
  margin-bottom: 5px;
}