*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock{
  display: grid;
  grid-template-columns: 54px 54px 12px 54px 54px 12px 54px 54px;
  width: fit-content;
  margin: 2em auto;
}

.digit{
  width: 54px;
  height: 67px;
  position: relative;
}

.bar{
  height: 5px;
  width: 30px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
}

.bar1{
  transform: translateX(12px);
}

.bar2{
  transform: rotateZ(90deg) translate(15px, -30px);
}

.bar3{
  transform: translate(12px, 30px);
}

.bar4{
  transform: rotateZ(90deg) translate(15px, 6px);
}

.bar5{
  transform: rotateZ(90deg) translate(46px, -30px);
}

.bar6{
  transform: translate(12px, 61px)
}

.bar7{
  transform: rotate(90deg) translate(46px, 6px)
}

.seperator{
  display: flex;
  width: 12px;
  height: 67px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle{
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
}

.circle:nth-child(1){
  margin-bottom: 5px;
}

.green{
  background-color: green;
}

.zero{
  opacity: 0;
  transition: all, .3s;
}

.circles{
  display: flex;
  width: fit-content;
  margin: auto;
}

.circleHolder{
  width: 100px;
  height: 100px;
  border: 1px black solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleHolder:nth-child(2){
  margin: 0 20px;
}

.timeCircle{
  border-radius: 50%;
  background-color: red;
  transition: all, 1s;
  height: 100px;
  width: 100px;
}